

html, body {
    background: #EFEFEF;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #000;
    font-family: sans-serif;
}

.colorful {
    background:
            -webkit-linear-gradient(45deg, hsla(335, 93%, 87%, 1) 0%, hsla(335, 93%, 87%, 0) 70%),
            -webkit-linear-gradient(315deg, hsla(248, 97%, 79%, 1) 10%, hsla(248, 97%, 79%, 0) 80%),
            -webkit-linear-gradient(225deg, hsla(96, 98%, 100%, 1) 10%, hsla(96, 98%, 100%, 0) 80%),
            -webkit-linear-gradient(135deg, hsla(139, 99%, 51%, 1) 100%, hsla(139, 99%, 51%, 0) 70%);
    background:
            linear-gradient(45deg, hsla(335, 93%, 87%, 1) 0%, hsla(335, 93%, 87%, 0) 70%),
            linear-gradient(135deg, hsla(248, 97%, 79%, 1) 10%, hsla(248, 97%, 79%, 0) 80%),
            linear-gradient(225deg, hsla(96, 98%, 100%, 1) 10%, hsla(96, 98%, 100%, 0) 80%),
            linear-gradient(315deg, hsla(139, 99%, 51%, 1) 100%, hsla(139, 99%, 51%, 0) 70%);
}

h2 {
    color: blue;
}

h1 {
    color: navy;
}

button {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background: #FFF;
    border-radius: 0;
}

button:hover {
    background: #DDD;
}